.container-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @earth;
    width: 80%;
    margin: 0 auto;
    padding-top: 12vh;

    @media @tablet {
        padding-top: 15vh;
        width: 90%;
    }

    // .our-team {
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    //     align-content: center;

    //     h2 {
    //         text-align: center;
    //     }

    // }
}