.container-body-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @earth;
    width: 80%;
    margin: 0 auto;
    padding-top: 15vh;

    @media @tablet {
        padding-top: 15vh;
        width: 90%;
    }

    .our-team {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       padding-top: 0px;

       
       .team-member {
           display: flex;
           flex-direction: column;
           width: 307px;
           padding: 2%;


           img {
               padding-bottom: 4%;
           }

       }

    }
}